:root {
    --fc-daygrid-event-dot-width: 5px;
}

.calendar-container {
    width: 70vh;
}

.container-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fc .fc-daygrid-event {
    font-size: 10px;
    text-wrap: wrap;
}